@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


:root {
  --main:  rgb(89, 123, 47, 1);/* #597B2F */
  --main-light:  rgb(108, 145, 63); /* #6C913F */
  --main-dark:  rgb(68, 94, 36);  /*#445E24*/
  --main-transparent:  rgb(89, 123, 47, .7); 
  --dark1: #254E70;
  --dark2:#37718E;
  --light2: #eca400;
  --light1: #e5b769;
  --light-blue: #88a2aa;
  --transparent: #33333348;
  font-size: 18px;
  letter-spacing: 0.1rem;
  }

* {
  font-family: 'Fira Sans', sans-serif;
  font-family: 'Calistoga', cursive;
  font-family: 'DM Serif Display', serif;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
  body, html {
    height: 100%;
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
    color: white;
  }
  section { 
    /* background-color: rgb(119, 119, 19); */
  }

  /* Mobile menu button */
  input[type="checkbox"]{
    display: none
  }

  .menu-btn {
    position: fixed;
    z-index: 2;
    top: -.75rem;
    padding: .75rem;
    border-radius: 50%;
    top: 0;
    text-align: center;
    right: 0;
  }

  .menu-btn span {
    position: relative;
    display: block;
    height: 0.222rem;
    width: 1.5rem;
    margin-bottom: 0.278rem;
    background: var(--main-light);
    border-radius: 3px;
    z-index: 1;
    opacity: 1;
    transition: all 0.3s cubic-bezier(0.77,0.9,0.05,1.0)
  }
  .menu-btn:hover {
    cursor: pointer;
  }

  #active:checked ~ .menu-btn:hover{
    transform: scale(1.06);
    transition: all 0.1s cubic-bezier(0.77,0.9,0.05,1.0)
  }

  .menu-btn span:first-child {
    transform-origin: 50% 50%;
  }

  .menu-btn span:nth-last-child(1){
    transform-origin: 50% 50%;
  }

  #active:checked ~ .menu-btn span{
    opacity: 1;
    background-color: white;
  }
  #active:checked ~ .menu-btn span:first-child{
    transform:
    translate(0px, 10px)
    rotate(-225deg)
  }

  #active:checked ~ .menu-btn span:nth-last-child(2){
    transform: rotate(0deg) scale(0.2, 0.2);
    opacity: 0;
  }

  #active:checked ~ .menu-btn span:nth-last-child(1)
  {
    transform:
    translate(0px, -8px)
    rotate(225deg)
  }

  .menu {
    /* display: none; */
    position: fixed;
    background-color: rgba(255, 255, 255, 0);
    top: 0rem;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    clip-path: circle(1.3rem at calc(100% - 1.5rem) 1.35rem);
    transition: all 0.3s ease-in-out;
    font-family: 'Calistoga', cursive;
    z-index: 1;
  }
  
  #active:checked ~ .menu{
    clip-path: circle(75%);
    background-color: rgb(89, 123, 47, 1);
  }

  .menu ul {
    position: absolute; 
    top: 50%;
    left: 50%;
    text-align: center;
    list-style: none;
    padding-inline-start: 0;
    transform: translate(-50%, -50%);
  }

  .menu ul li { 
    margin-top: 2rem; 
    border-bottom: 0px solid white;
  }

  .menu ul li:hover {
    border-bottom: 10px solid var(--main);
    transition: all 100ms ease;
  }

.container {
  scroll-snap-type: y proximity;
  overflow-y: scroll;
  scroll-behavior: smooth; 
  height: 100vh;
}
  section {
    /* background-color: rgb(177, 145, 177); */
    height: 100vh;
    scroll-snap-align: start;
    /* z-index: 0; */
  }

  .page-front {
    /* background-color: #8A7968; */
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  /* ABOUT */
  .page-about {
    background-color: var(--main-light);
    position: relative;

  }
  .blob-wrapper {
    /* background-color: var(--light1); */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    background-origin: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .blob-img::before {
    content: '';
    position: absolute;
    background-image: url('/img/profile-crop.png');
    background-repeat: no-repeat;
    background-origin: center;
    background-size: contain;
    width: 10rem;
    height: 10rem;
    z-index: 1;
    top: -.5rem;
    right: .2rem;
  }
  
  .blob-img {
    background-image: url('/img/egg.svg') ;
    background-repeat: no-repeat;
    background-origin: center;
    background-size: contain;
    width: 10.2rem;
    height: 10.2rem;
    position: relative;
    z-index: 1;
    transform: scale(1);
  }
  .blob-img::after {
    content: '';
    position: absolute;
    background-image: url('/img/egg.svg') ;
    top: 120px;
    /* right: 3px; */
    background-repeat: no-repeat;
    background-origin: center;
    background-size: contain;
    width: 10rem;
    height: 10rem;
    transform: scaleY(10%) scaleX(65%);
    z-index: 0;
    filter: blur(23rem);
    -webkit-filter: blur(4rem);
  }

  .blob-text {
    font-size: 2rem;
    color: white;
    font-weight: 300;
    position: relative;
  }

  .blob-text:after {
    content: "They call me Mr. Egg";
    position: absolute;
    font-weight: 300;
    /* background-image: url('/img/egg.svg') ; */
    /* top: 80%; */
    left: 0;
    color: rgb(255, 255, 255);
    top: 120px;
    /* background-repeat: no-repeat;
    background-origin: center;
    background-size: contain; */
    /* width: 10rem; */
    /* height: 10rem; */
    transform: scaleY(25%);
    z-index: 4;
    filter: blur(.3rem);
    -webkit-filter: blur(.9rem); 
  }

  /* FIRST SPACER */
  .divider1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: auto;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}
.divider1 svg {
    position: relative;
    display: block;
    width: calc(159% + 1.3px);
    height: 15vh;
}
.divider1 .shape-fill {
    fill: #6C913F;
}

  /* SKILLS */
.page-skills {
  background-color: var(--main);
  display: block;
  position: relative;
}
.spacer2 {
  /* background-color: rgb(148, 238, 130); */
  background-image: url('/img/bg/wave-light-main.svg');
  width: 100%;
  aspect-ratio: 900/675;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 0;
  top: -1rem
}
.spacer3, .spacer4 {
  /* background-color: rgb(148, 238, 130 ); */
  background-image: url('/img/bg/wave-main-white2.svg');
  width: 100%;
  aspect-ratio: 900/675;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 0;
  top: -2rem;
}
.spacer4 {
  background-image: url('/img/bg/wave-white-main.svg');
  top: -13%;
}

.skills-container {
  display: flex;
  position: relative;
  
  /* background-color: #a6ff00; */
  padding-top: 1rem;
  height: 100%;
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: flex-start; 
}
.skill {
  flex-basis: 15%;
  flex-shrink: 1;
  flex-grow: 1;
  
  padding: .5rem;
  /* height: 5rem; */
  /* width: 100%; */
}
.skill > * {
  margin: 0 auto;
  
  text-align: center;
  font-weight: 600;
}
.skill-name {
  background-color:  white;
  color: black;
  border-radius: .3rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
.skill-logo {
  height: 4rem;
  width: 4rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: 50%;
}

  /* PROJECTS */
  .page-projects {
    /* background-color: #92998f; */
    position: relative;
    height: unset;
  }

  .page-about > h1,
  .page-skills > h1,
  .page-projects > h1
 { 
    padding: .5rem;
    font-weight: 700;
    font-size: 1rem;
    display: block;
    padding-left: 2rem;
    /* z-index: 11; */
    position: relative;
  }
  .page-about > h1 {
    color:  white;
  }
  .page-skills > h1 {
    color: white;
  }
  .page-projects > h1 {
    color: var(--main);
  }
.projects-container {
  margin: 0 auto;
  /* background-color: aquamarine; */
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch  ;
  align-items: stretch;
  position: relative;    
} 


.project-info-card {
  --project-info-card-margin: 2rem;
  background-color: rgb(255, 255, 255,1); 
  position: absolute;
  width: 105%;
  height: 100%; 
  top: 0rem;
  left: 0;
  z-index: 100; 
  display: grid;
  gap: 2.6rem;
  grid: 
  [row1-start] "header header header header" 3rem [row1-end]
  [row2-start] "body-left body-left body-right body-right" 1fr [row2-end]
  / 1fr 1fr 1fr; 
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  border-radius: .15rem;
  transform: translateX(0)
}
 
.project-info-card-hidden { 
  display: none !important;
}
.project-info-card-header {
  /* background-color: chartreuse; */
  grid-area: header;
  margin-left: var(--project-info-card-margin);
  margin-top: var(--project-info-card-margin);
  position: relative;
  /* background-color: blanchedalmond; */
  width: max-content;
  display: flex;
  align-self: baseline;
}
.back-btn {
  position: absolute;
  z-index: 111;
  width: 4rem;
  height: 4rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../img/back.svg');
  top: 4rem;
  left: -8rem;
  /* background-color: rgb(119, 119, 19); */
  filter: invert(100%) sepia(3%) saturate(13%) hue-rotate(334deg) brightness(102%) contrast(105%);
  border-radius: .3rem;
  /* border: 3px solid brown */
  transition: 110ms ease-out all;
  
}
.back-btn:hover {
  /* filter: invert(10%) sepia(13%) saturate(73%) hue-rotate(34deg) brightness(102%) contrast(105%); */
  cursor: pointer;
  transform: translateX(-.6rem);
}
.project-info-card-header-h1 {
  width: max-content;
  /* background-color: blue; */
}
.project-info-card-header-h1::after {
  position: absolute;
  content: '';
  bottom: -10px;
  left: 0;
  height: 4px;
  background-color: var(--light-blue);
  width: 100%;
  transform-origin: 0%;
  transition: transform 500ms ease;

}
.project-info-card-body-left {
  grid-area: body-left;
  margin-left: var(--project-info-card-margin);
  margin-bottom: var(--project-info-card-margin);
}
.gallery-container {
  /* background-color: crimson; */
  /* margin: 1.2rem; */
  /* border: 3px solid silver; */
  border-radius: 10px;
  height: 100%;
  /* background-image: url('../img/projects/room/1.jpg'); */
  
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
.gallery-main {
  background-color: rgb(153, 166, 167);
  /* height: auto; */
  flex-basis: 100%;
  background-image: url('../img/projects/room/1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  border-radius: .3rem;
}

.gallery-bottom {
  flex-basis: auto;
  display: flex;
  justify-content: space-between; 
}
.gallery-pic {
  /* background-color: chartreuse; */
  height: 5rem;
  width: 5rem;
  /* flex-basis: 100%; */
  background-size: cover;
  background-origin: 50%;
  background-repeat: no-repeat;
  border-radius: .3rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  transition: 80ms all ease-in;
  border: .015rem solid #ffffff;
}
.gallery-pic:hover {
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.gallery-pic1 {
  background-image: url('../img/projects/room/1.jpg');
}
.gallery-pic2 {
  background-image: url('../img/projects/room/2.jpg');
}
.gallery-pic3 {
  background-image: url('../img/projects/room/3.jpg');
}
.gallery-pic4 {
  background-image: url('../img/projects/room/4.jpg');
}


.project-info-card-body-right {
  grid-area: body-right;
  font-size: .85rem;
  letter-spacing: .1rem;
  margin-right: var(--project-info-card-margin);
  margin-bottom: var(--project-info-card-margin);
  display: flex;
  flex-direction: column;
   justify-content: flex-start;
} 

.technologies-container {
  background-color: var(--main);
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  border-radius: .4rem;
  /* padding:.3rem */
  margin-top: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
.technologies-container h3 {
  overflow: hidden;
  background-color: var(--main);
  color: white;
  padding: .5rem;
  font-size: .75rem;
  font-weight: 900;
  border-radius: .4rem 0rem 0rem 0rem;
}
.technologies-wrapper {
  padding: .5rem;
  display: flex;  
  flex-wrap: wrap;
  justify-content: flex-start;
  /* align-items: flex-send; */
}
.technology {
  /* background-color: slateblue; */
  height: 1.5rem;
  width: 1.5rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center
  /* background-origin: 50%; */
}
.technology-wrapper {
  /* border: 3px solid rgb(196, 71, 71); */
  background-color: white;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding:.3rem;
  margin: .2rem .3rem;
  overflow: hidden;
}
.technology-html {
  background-image: url('../img/tech/html.svg');
}
.technology-css {
  background-image: url('../img/tech/css.svg');
  
}
.technology-js {
  background-image: url('../img/tech/js.svg');
}
.technology-mysql {
  background-image: url('../img/tech/mysqla.svg');
}
.technology-ruby {
  background-image: url('../img/tech/ruby.svg');
}
.technology-firebase {
  background-image: url('../img/tech/firebase.svg');
}

.project-info-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}
.project-info-buttons > * {
  background-color: var(--main);
  color: white;
  /* color: var(--main); */
  padding: .47rem;
  border-radius: 4px;
  text-align: center;
  /* margin-left: .3rem; */
  transition: transform 60ms ease-in;
  border-bottom: .15rem solid var(--main-dark); 
}
.project-info-view-live {
  margin-right: .3rem;
}
.project-info-buttons > *:hover {
  cursor: pointer;
  background-color: chocolate;
  transform: translateY(-.12rem);
  border-bottom: .1rem solid rgb(122, 49, 0);
}
.project-info-buttons > *:active {
  transform: translateY(.14rem);
  transition: transform 10ms linear;
}

/* Fancy card */
.project-card {
  border-radius: .15rem;
  height: 30vh;
  flex-basis: 85%;
  margin: 1rem auto;
  margin-bottom: .5rem;
  overflow: hidden;
  background-size: cover;
  position: relative;
  transition: 350ms transform ease-in-out;
  color: white;
  /* border: 21px solid wheat */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.project-card:last-child {
  margin-right: auto;
}

.project-card-content {
  --padding: .6rem;
  padding: var(--padding);
  bottom: 0;
  position: absolute;
  width: 100%;
  transition: 400ms transform ease;
  background: linear-gradient(
    hsl(0 0% 0% / 0),
    hsl(10 0% 0% / 0.9) 70%,
    hsl(0 0% 0% / 1)
  );
  padding-bottom: .5rem;
  line-height: unset;
  line-height: 1rem;
  /* line-height: .85rem; */
}

.project-card-title {
  position: relative;
  width: max-content;
  /* background-color: wheat; */
  max-width: 100%;
  font-size: 1rem;
  /* margin-bottom: 1.23rem; */
  font-weight: 700;
  /* padding-bottom: .1rem; */
  line-height: 1.2rem;
}

.project-card-title::after {
  position: absolute;
  content: '';
  height: 2px;
  width: calc(100% + var(--padding));
  left: calc(var(--padding)* -1);
  /* left: 0; */
  bottom: -6px;
  background-color: white;
  transition: width 400ms ease-out;
} 

.project-card-body {
  /* background-color: antiquewhite; */
  font-size: .65rem;
  margin-bottom: .5rem;
  line-height: .8rem;
  padding-top: .5rem;
}

.project-card-btn {
  padding: .123rem .5rem;
  background-color: var(--main-transparent);
  color:rgb(255, 255, 255);
  /* box-shadow: rgba(255, 255, 255, 0.25) 0px 1px 1px, #ffffff21 0px 0px 1px 1px; */
  border-radius: .4rem;
}


#card-palabras {background-image: url('../img/projects/palabras.jpg');
}
#card-stingy {background-image: url('../img/projects/stingy.jpg');
}
#card-iptracker {background-image: url('../img/projects/iptracker.jpg');
}
#card-room {background-image: url('../img/projects/room.jpg');
}
#card-chess {background-image: url('../img/projects/chess.jpg');
}

  





  .page-resume {
    /* background-color: #6d3d3d; */
    /* height: 30vh; */
    position: relative;
    scroll-snap-align: center;
    display: flex;
    justify-content: center;
  }
  .page-contact {
    /* background-color: #596392; */
  }


/* FRONT */
.page-front h1 {
  background-color: white;
  border-radius: 3px;
  color:rgb(85, 85, 85);
  padding: .96rem;
  width: 70%;
  max-width: 45ch;
  font-size: 1rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.arrow-wrapper {
  width: 3rem;
  height: 3rem;
  border: 3px solid rgb(255, 255, 255);
  border: 3px solid var(--main);
  border-radius: 50%;
  animation: pulse 1.2s infinite;
  margin-top: 3rem;
  /* margin-bottom: 2rem; */
  /* justify-self: flex-end  ; */
}
.arrow-wrapper:hover {
  border: 3px solid var(--main-light);
  transform: scale(1.3);
  cursor: pointer;
}
.arrow {
  background-image: url("../img/arrow.svg");
  filter: invert(49%) sepia(46%) saturate(485%) hue-rotate(45deg) brightness(95%) contrast(87%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 100%;
  transform: scale(.35) rotate(-90deg);
  display: block;
}

 
/* ABOUT */
.page-about {
  display: block;

}

.profile-pic {
  width: 3rem;
  height: auto;
  border-radius: 3px;
}


/* RESUME */
.resume-btn-wrapper {
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* z-index: 1; */
}

.resume-btn-wrapper .resume-btn{
  background-color: var(--main);
  color: white;
  padding: .5rem;
  border-bottom: .3rem solid var(--main-dark);
  border-radius: .3rem;
  text-align: center;

}

.resume-btn-wrapper .resume-btn:hover {
  cursor: pointer;
}

  @keyframes pulse {
    0% {
      transform: scale(0.95);
      /* box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7); */
    }
  
    70% {
      transform: scale(1);
      /* box-shadow: 0 0 0 10px rgba(0, 0, 0, 0); */
    }
  
    100% {
      transform: scale(0.95);
      /* box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); */
    }
  }

  @media only screen and (max-width: 767px) {
    .page-projects > h1 {
      /* margin: 3rem 3rem; */
      margin: 0;
      padding-left: 2rem;
      /* background-color: white; */
      font-size: 1rem;
    }
    .project-info-card {
      background-color: rgb(255, 255, 255); 
      position: relative;
      width: 100%;
      min-height: 100vh;
      top: 0rem;
      left: 0;
      right: 0;
      z-index: 0; 
      display: block;
      box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
      border-radius: .15rem;
      transform: translateX(0)
    }
    .back-btn {
      top: -2rem;
      left: 0;
      height: 1.6rem;
      width: 1.6rem;
    }
    .back-btn:hover {
      transform: unset;
    } 
    .project-info-card-header {
      margin: unset;
      width: 100%;
      padding: .25rem 1rem;
      display: flex;
      justify-content: center;
      /* background-color: rgb(191, 212, 170); */
    }
    .project-info-card-header-h1 {
      text-align: center;
    }
    .project-info-card-header-h1::after {
      display: none;
    }
    .project-info-card-body-left,.project-info-card-body-right {
      margin: unset
    }
    .gallery-container {
      /* background-color: chartreuse; */
      display: block;
      padding: .5rem
    }
    .gallery-main {
      height: 100vw;
      width: 100%;
      min-width: 3rem;
      margin: 0 auto;
      display: block;
      margin-bottom: .3rem;
    }
    .gallery-pic {
      height: unset;
      width: unset;
      /* flex-basis: 20%; */
      height: 2rem;
      width: 2rem;
    }
    .gallery-pic:hover {
      transform: none; 
    }
    .gallery-bottom {
      justify-content: center;
 
    }
    .project-info-card-body-right {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      /* background-color: blue; */
      /* max-width: 100%; */
    }
    .project-info-card-body-right > p {
      padding: 1rem 2rem;
      max-width: 40ch;
      margin: 0 auto;
      text-justify: inter-word;
      font-size: 1rem;
      flex-basis: 100%;
      flex-shrink: 0;
    }
    .project-info-card-body-right > .technologies-container {
      flex-basis: 100%;
      /* flex-shrink: 1; */
      /* background-color: black; */
      margin: 0 2rem;
    }
    .project-info-card-body-right > .project-info-buttons {
      flex-basis: 100%;
      margin: 1rem 2rem;
    }

  }

  @media only screen and (min-width: 768px) {
  /* FIRST SPACER */
 
.divider1 svg {
    position: relative;
    display: block;
    width: calc(159% + 1.3px);
    height: 198px;
} 

.spacer2 {
  top: -5rem
}
.spacer3 {
  top: -40%
}
.spacer4 {
  top: -5%;
}
  .menu-btn {
    display: none;
  }
  .menu {
    display: unset;
    z-index: unset;
    position: unset;
    clip-path: none;
    height: unset;
    top: unset;
    left: unset;
    height: unset;
    transition: unset;
    width: unset;
    background-color: unset;
    z-index: 1;
    position: fixed;
    right: 2rem;
    top: .25rem;
    display: flex;
    justify-items: flex-end;
    align-items: flex-end;
    flex-direction: column;
    /* margin-left: auto; */
    font-size: .85rem;
    /* background-color: white; */
    /* width: 10%; */
    
  }
    
  .menu ul {
    position: unset;
    top: unset;
    left: unset;
    text-align: unset;
    list-style: none;
    padding-inline-start: 0;
    transform: unset;
    transform: translate(0, 0);
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    margin-right: 0rem;
    
    }


  .menu ul li {
    padding: unset;
    margin:unset;
    /* margin-top: .3rem; */
    margin-left: .65rem;
    border-radius: 1.4rem;
    font-weight: 300;
    outline: 0px solid var(--main-light);
    background-color: white;
    color: white !important;

  }
  .menu ul li:hover {
    border: solid 0px;
    transform: translateY(-2px);
    font-weight: 700;
    /* border-bottom: 3px solid var(--main); */
  }
  .menu ul li a {
    position: relative;
    letter-spacing: .03rem;
    color: var(--main-light);
    padding: 1rem 1rem;
  }

  .menu ul li a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.4px;
    bottom: -.2rem;
    left: 0;
    /* background-color: var(--main-light); */
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .menu > ul > li > a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  


  
  .projects-container {
    margin: unset;
    padding: unset; 
    margin: 3rem 20%; 
    display: grid;
    justify-content: space-between;
    grid-template-rows: 16rem 16rem;
    grid-template-columns: 12rem 12rem 12rem;
    row-gap: 2.5rem;
    position: relative;
  }
  .project-card {
  border-radius: .15rem;
  margin: unset;
  /* margin-bottom: .5rem; */
  position: relative;
  width: unset;
  height: unset;
  }

  
.project-card:hover {
  transform: scale(1.05);
}

.project-card-content {
  /* background-color: #ffffff; */
  --padding: 1rem;
  padding: var(--padding);
  position: absolute;
  bottom: 0;
  max-width: 35ch;
  width: 100%;
  /* transform: translateY(10rem); */
  transition: 400ms transform ease;
  background: linear-gradient(
    hsl(0 0% 0% / 0),
    hsl(10 0% 0% / 0.7) 50%,
    hsl(0 0% 0% / 1)
  );
}


.project-card:hover .project-card-content {
  transform: translateY(0) !important;
  transition-property: all;
  transition-delay: 230ms;
  
}
.project-card:hover .project-card-title::after{
  background-color: chartreuse;
  background-color: white;
  width: calc(100% + var(--padding));
}
 
.project-card-btn:hover {
  background-color: rgba(0, 255, 242, 0.568);
  /* color: var(--dark1); */
  /* box-shadow: rgba(255, 255, 255, 0.25) 0px 3px 3px, hsla(0, 0%, 100%, 0.473) 0px 0px 3px 1px; */
  cursor: pointer;
  
}


.project-card-title::after {
  position: absolute;
  content: '';
  height: 2px;
  width: 0;
  left: calc(var(--padding)* -1);
  /* left: 0; */
  bottom: -.5rem;
  background-color: rgb(177, 177, 177);
  transition: width 400ms ease-out;
}


.project-card-title {
  position: relative;
  width: max-content;
  max-width: 100%;
  font-size: 1.5rem;
  margin-bottom: .53rem;
  font-weight: 700;
}

.page-projects {
  min-height: 100vh;
}


}