@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

:root {
  --main: #cabac8;
  --dark1: #254E70;
  --dark2:#37718E;
  --light2: #eca400;
  --light1: #e5b769;
  --light-blue: #88a2aa;
  --transparent: #33333348;
  font-size: 18px;
  letter-spacing: 0.1rem;
  }

* {
  font-family: 'Fira Sans', sans-serif;
  font-family: 'Calistoga', cursive;
  font-family: 'DM Serif Display', serif;
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white
}
  body, html {
    height: 100%;
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
  }
  section {
    /* display: none; */
    background-color: rgb(119, 119, 19);
  }

  /* Mobile menu button */
  input[type="checkbox"]{
    display: none
  }

  .menu-btn {
    position: fixed;
    z-index: 2;
    top: -.75rem;
    padding: .75rem;
    border-radius: 50%;
    top: 0;
    text-align: center;
    right: 0;
  }

  .menu-btn span {
    position: relative;
    display: block;
    height: 0.222rem;
    width: 1.5rem;
    margin-bottom: 0.278rem;
    background: #ffffff;
    border-radius: 3px;
    z-index: 1;
    opacity: 1;
    transition: all 0.3s cubic-bezier(0.77,0.9,0.05,1.0)
  }
  .menu-btn:hover {
    cursor: pointer;
  }

  #active:checked ~ .menu-btn:hover{
    transform: scale(1.06);
    transition: all 0.1s cubic-bezier(0.77,0.9,0.05,1.0)
  }

  .menu-btn span:first-child {
    transform-origin: 50% 50%;
  }

  .menu-btn span:nth-last-child(1){
    transform-origin: 50% 50%;
  }

  #active:checked ~ .menu-btn span{
    opacity: 1;
  }
  #active:checked ~ .menu-btn span:first-child{
    transform:
    translate(0px, 10px)
    rotate(-225deg)
  }

  #active:checked ~ .menu-btn span:nth-last-child(2){
    transform: rotate(0deg) scale(0.2, 0.2);
    opacity: 0;
  }

  #active:checked ~ .menu-btn span:nth-last-child(1)
  {
    transform:
    translate(0px, -8px)
    rotate(225deg)
  }

  .menu {
    /* display: none; */
    position: fixed;
    background-color: var(--dark1);
    top: 0rem;
    left: 0;
    /* right: 0; */
    width: 100%;
    height: 100%;
    font-size: 2rem;
    /* background: #000; */
    /* clip-path: circle(1.5rem at calc(100% - 2rem) 2rem); */
    clip-path: circle(1.3rem at calc(100% - 1.5rem) 1.35rem);
    transition: all 0.3s ease-in-out;
    font-family: 'Calistoga', cursive;
    z-index: 1;
  }
  
  #active:checked ~ .menu{
    clip-path: circle(75%);
  }

  .menu ul {
    position: absolute;
    /* width: 100%; */
    top: 50%;
    left: 50%;
    text-align: center;
    list-style: none;
    padding-inline-start: 0;
    transform: translate(-50%, -50%);
  }

  .menu ul li {
    /* padding: 2rem; */
    margin-top: 2rem;
    /* background-color: violet; */
    border-bottom: 0px solid white;
  }

  .menu ul li:hover {
    border-bottom: 10px solid white;
    transition: all 100ms ease;
  }

.container {
  scroll-snap-type: y proximity;
  overflow-y: scroll;
  scroll-behavior: smooth; 
  height: 100vh;
}
  section {
    /* background-color: rgb(177, 145, 177); */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    scroll-snap-align: start;
    /* scroll-padding: 100px; */
  }

  .page-front {
    background-color: #8A7968;
    flex-direction: column;
    justify-content: flex-end;
  }
  .page-about {
    
  }
  .page-skills {
    background-color: #626e38;
  }
  
  .page-resume {
    background-color: #6d3d3d;
    /* height: 30vh; */
    scroll-snap-align: center;
  }
  .page-contact {
    background-color: #596392;
  }

  .profile-pic {
    width: 3rem;
    height: auto;
    border-radius: 3px;
  }
/* FRONT */
.blob {
  /* position: relative; */
  bottom: -20%;
  left: 50%;
  right: auto;
  /* background-color: rgb(230, 159, 159); */
	border-radius: 50%;
  text-align: center;
	margin: 10px;
	height: 20px;
	width: 20px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
  z-index: 0;;
  
}
.arrow1 {
  background-image: url("../img/arrow.svg");
  filter: invert(100%) sepia(3%) saturate(13%) hue-rotate(334deg) brightness(102%) contrast(105%);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100px;
  height: 100px;  
}

  .arrow {
    width: 2rem;
    height: 2rem;
    background: transparent;
    border-top: .31rem solid white;
    border-right: .31rem solid white;
    box-shadow: 0 0 0 lightgray;
    transition: all 200ms ease;
    
		transform:
    /* translate3d(0,-50%,0) */
    rotate(135deg);
  }
  

  @keyframes pulse {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
  
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
  
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }


  @media only screen and (min-width: 768px) {

    .menu-btn {
      display: none;
    }
    
    .menu {
      /* display: none; */
      position: fixed;
      background-color: var(--dark1);
      background-color: rgba(245, 245, 245, 0);
      top: 0rem;
      left: -2rem;
      right: 0;
      width: 100%;
      height: unset;
      font-size: 2rem;
      /* background: #000; */
      /* clip-path: circle(1.5rem at calc(100% - 2rem) 2rem); */
      /* clip-path: circle(1.3rem at calc(100% - 1.5rem) 1.35rem); */
      clip-path: circle(75%);
      transition: all 0.3s ease-in-out;
      font-size: .8rem;

    }
     
    .menu ul {
      position: relative;
      display: flex;
      justify-content: flex-end;
      align-items: stretch;
      /* width: 100%; */
      top: 0%;
      /* height: 6rem; */
      left: 0%;
      text-align: center;
      list-style: none;
      padding-inline-start: 0;
      transform: translate(0%, 0%);
    }

    .menu ul li {
      /* background-color: rgb(108, 125, 146); */
      padding: .3rem;
      margin-left: .85rem;
      /* background-color: white; */
      /* border: 3px blue solid; */
      border-radius: 3px;
      margin-top: .5rem;
      /* background-color: violet; */
      border-bottom: 0px solid white;
    }
    .menu ul li:hover {
      border: solid 0px
    }
    .menu ul li a {
      position: relative;
    }

    .menu ul li a:after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #ffffff;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
    .menu ul li a:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }